.container{
    margin-bottom:60px ;
}
.navbar{
    background-color: #fceae8;
    border-radius: 10px;
    width: 100%;
}
.orange-bg{
    background-image: linear-gradient(to bottom, #e0a6e7 0%, #fceae8 100%);
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff1365 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to bottom, #FF4500 0%, #FFA500 100%);
}
.cat2{
    background-image: linear-gradient(to bottom, #fc5a8d 0%, #ffa6c9 100%);
}
.cat3{
    background-image: linear-gradient(to bottom, #090979 0%, #00d4ff 100%) ;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#contact-us{
    height:300px;
}
#contact-us h6{
    color: gray;
}
footer{
    text-align: center;
    color: lightgray;
}
